<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="dfsApp" type="DFS.DFSAppConfigureSection,DFSAppSrv" />
    <section name="RedisConfig" type="Sg2Community.Common.RedisAccess.RedisConfigInfo,Sg2Community.Common" />
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Online.Key" value="on" />
    <add key="Site.Id" value="10001" />
    <add key="Site.Key" value="9460c29c6b814f998d00da57ae2ae2d1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <dfsApp>
    <server address="127.0.0.1" port="60081" maxPackageSize="1024000" />
    <app type="15" authKey="e2a99b7d43444bb08ec8696552127e8c" wcsAppStr="SG2MAIL" />
    <service poolSize="10" sendPackageSize="204800" receivePackageSize="20480" sendMemoryMB="200" receiveMemoryMB="200" />
    <log omasid="70160" logtime="60" loglevel="3">
    </log>
  </dfsApp>
  <RedisConfig>
    <Profile WriteServerList="192.168.0.154:6328" ReadServerList="192.168.0.154:6328" MaxWritePoolSize="30" MaxReadPoolSize="30">
    </Profile>
    <Actions WriteServerList="192.168.0.154:6328" ReadServerList="192.168.0.154:6328" MaxWritePoolSize="30" MaxReadPoolSize="30">
    </Actions>
    <Cache WriteServerList="192.168.0.154:6328" ReadServerList="192.168.0.154:6328" MaxWritePoolSize="30" MaxReadPoolSize="30">
    </Cache>
  </RedisConfig>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="_Sg2CommunityMail_" defaultExpireTime="2000" />
    </providers>
  </cacheProvider>
  <enyim.com>
    <memcached>
      <servers>
        <!-- put your own server(s) here-->
        <!--线下测试-->
        <!--<add address="10.0.18.20" port="11211"/>-->
        <add address="183.129.245.147" port="11211" />
        <!--线上-->
        <!--<add address="192.168.0.148" port="11211"/>-->
        <!--<add address="192.168.0.147" port="11211"/>-->
        <!--<add address="183.129.245.147" port="11211"/>-->
        <!--<add address="183.129.245.148" port="11211"/>-->
        <!--183.129.130.173-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd/&quot;log.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter"> 
				<param name="LevelMin" value="DEBUG" /> 
				<param name="LevelMax" value="FATAL" /> 
			</filter>-->
    </appender>
    <!--<threshold value="OFF" />-->
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <!-- OFF, FATAL, RROR, WARN, INFO, DEBUG, All -->
      <level value="All" />
      <appender-ref ref="SysAppender" />
    </root>
    <logger name="LocalLogger">
      <level value="All" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <!--新增Memcached 的Log4net 配置 开始 -->
    <logger name="Enyim.Caching.Memcached.GetHelper">
      <level value="WARN" />
    </logger>
    <logger name="Enyim.Caching.Memcached.PooledSocket">
      <level value="WARN" />
    </logger>
    <logger name="Enyim.Caching.Memcached.MemcachedNode+InternalPoolImpl">
      <level value="WARN" />
    </logger>
    <!--新增Memcached 的Log4net 配置 结束 -->
  </log4net>
  <connectionStrings>
    <add name="Sg2Community_Mongodb" connectionString="mongodb://uws_SG2CommuintyDB:kwsEDVm2AgdcOZv5m@183.129.245.118/SG2CommuintyDB" />
    <add name="CommunityDNS" connectionString="Data Source=192.168.0.185;Initial Catalog=SG2community;Persist Security Info=True;User ID=uws_SG2community;Password=xSLQxas6Ey8zdbwFSQeGjbqDSMQv9WKV;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>