<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <add key="ApplicationId" value=""/>
        <add key="ApplicationKey" value=""/>
        <add key="PwdNeedDecode" value="0"/>
        <add key="ErrorLogFolder" value="D:\Temp\ConsoleJenkins\"/>
        <add key="ReadLocalConfig" value="true"/>
        <add key="ConfigServicePath" value=""/>

      <!--Jenkins相关配置-->
      <!--新建Jenkins编译任务的延时时间  秒-->
      <add key="JenkinsCreateBuildTaskDeplayTime" value="0"/>

      <!--新建Jenkins编译任务的Api-->
      <add key="JenkinsCreateBuildTaskApiUrl" value="http://10.10.110.11:8080/job/{0}-{1}/build?delay={2}sec"/>

      <!--检查Jenkins的任务队列超时时间  分钟-->
      <add key="JenkinsQueueCheckTimeout" value="5"/>
      <!--检查Jenkins的任务队列的Api-->
      <add key="JenkinsQueueApiUrl" value="http://10.10.110.11:8080/queue/api/json"/>

      <!--获取Jenkins的任务Id的Api-->
      <add key="JenkinsGetBuildTaskIdApiUrl" value="http://10.10.110.11:8080/job/{0}-{1}/api/xml?xpath=/freeStyleProject/lastBuild/number"/>

      <!--获取Jenkins的任务结果的超时时间  分钟-->
      <add key="JenkinsGetBuildTaskResultTimeout" value="10"/>
      <!--获取Jenkins的任务结果的Api-->
      <add key="JenkinsGetBuildTaskResultApiUrl" value="http://10.10.110.11:8080/job/{0}-{1}/{2}/api/xml?xpath=/freeStyleBuild/result"/>

      <!--获取Jenkins的任务编译的SVN版本的Api-->
      <add key="JenkinsGetBuildTaskSvnNumberUrl" value="http://10.10.110.11:8080/job/{0}-{1}/{2}/api/xml?xpath=/freeStyleBuild/changeSet/revision/revision"/>
    </appSettings>
</configuration>