<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benlai.Common" version="1.3.7008.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Config" version="1.3.7010.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Json" version="1.3.7001.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Log" version="1.3.7005.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Net" version="1.3.7011.0-beta" targetFramework="net45" />
  <package id="Benlai.Performance.Cat" version="1.2.7006-beta" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>