<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel> 
      <bindings>
            <netTcpBinding>
                <binding name="netTcpBinding" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6987/Service/duplex" binding="netTcpBinding"
                bindingConfiguration="netTcpBinding" contract="Jillzhang.Messaging.Contract.IJob"
                name="NetTcpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6987/Service/oneway" binding="netTcpBinding"
                bindingConfiguration="netTcpBinding" contract="Jillzhang.Messaging.Contract.IOneWayJob"
                name="NetTcpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
          <endpoint address="net.tcp://localhost:6987/Service/normal" binding="netTcpBinding"
          bindingConfiguration="netTcpBinding" contract="Jillzhang.Messaging.Contract.INormalJob"
          name="NetTcpBinding">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>