<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benlai.Common.Log" version="1.2.6008.0" targetFramework="net452" />
  <package id="Benlai.Common.Net" version="1.2.6003.0" targetFramework="net452" />
  <package id="Benlai.Performance.Cat" version="1.1.6019" targetFramework="net452" />
</packages>