<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net40" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net40" />
  <package id="Benlai.Common" version="1.2.7029" targetFramework="net40" />
  <package id="Benlai.Common.Config" version="1.2.7024" targetFramework="net40" />
  <package id="Benlai.Common.Database" version="1.2.8033" targetFramework="net40" />
  <package id="Benlai.Common.Json" version="1.2.7003" targetFramework="net40" />
  <package id="Benlai.Common.Kafka" version="1.0.7004" targetFramework="net40" />
  <package id="Benlai.Common.Log" version="1.2.7025" targetFramework="net40" />
  <package id="Benlai.Common.Net" version="1.2.7020" targetFramework="net40" />
  <package id="Benlai.Performance.Cat" version="2.0.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
</packages>