<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net40" />
  <package id="Benlai.Common" version="1.2.7017" targetFramework="net40" />
  <package id="Benlai.Common.Config" version="1.2.7017" targetFramework="net40" />
  <package id="Benlai.Common.Json" version="1.2.7003" targetFramework="net40" />
  <package id="Benlai.Common.Kafka" version="1.0.7003" targetFramework="net40" />
  <package id="Benlai.Common.Log" version="1.2.7018" targetFramework="net40" />
  <package id="Benlai.Common.MsgPack" version="1.0.7002" targetFramework="net40" />
  <package id="Benlai.Common.Net" version="1.2.7014" targetFramework="net40" />
  <package id="Benlai.Common.Redis" version="2.0.8017" targetFramework="net40" />
  <package id="Benlai.Performance.Cat" version="1.1.7019" targetFramework="net40" />
  <package id="MsgPack.Cli" version="0.8.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
</packages>