<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>   
    <services>
      <service  name="Jillzhang.Messaging.Service.Job">
        <endpoint address="duplex" binding="netTcpBinding" contract="Jillzhang.Messaging.Contract.IJob">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>       
      </service>
      <service  name="Jillzhang.Messaging.Service.OneWayJob">       
        <endpoint address="oneway" binding="netTcpBinding" contract="Jillzhang.Messaging.Contract.IOneWayJob">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service  name="Jillzhang.Messaging.Service.NormalJob">
        <endpoint address="normal" binding="netTcpBinding" contract="Jillzhang.Messaging.Contract.INormalJob">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>