<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ApplicationId" value="123"/>
    <add key="ApplicationKey" value="789"/>
    <add key="PwdNeedDecode" value="0"/>
    <add key="ErrorLogFolder" value="D:\Temp\Benlai.Application.AutoPublish\"/>
    <add key="ReadLocalConfig" value="true"/>
    <add key="ConfigServicePath" value=""/>
    <add key="HttpPort" value="18000"/>
    <add key="TcpPort" value="19000"/>
  </appSettings>
</configuration>