<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benlai.Common" version="1.3.7005.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Config" version="1.3.7007.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Json" version="1.3.7001.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Log" version="1.3.7000.0-beta" targetFramework="net45" />
  <package id="Benlai.Common.Net" version="1.3.7010.0-beta" targetFramework="net45" />
  <package id="Benlai.Configuration.Install" version="1.2.7000-beta" targetFramework="net45" />
  <package id="Benlai.Performance.Cat" version="1.2.7001-beta" targetFramework="net45" />
  <package id="Benlai.SOA.Framework.Common" version="2.1.1000-beta" targetFramework="net45" />
  <package id="Benlai.SOA.Framework.Core" version="2.1.1005-beta" targetFramework="net45" />
  <package id="Benlai.SOA.Framework.Server" version="2.1.1010-beta" targetFramework="net45" />
  <package id="Benlai.Zookeeper" version="1.2.7002.0-beta" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>