<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pay" type="Com.Sanguo2.PayDLL.PayDllConfigSection,Com.Sanguo2.PayDLL" />
  </configSections>

  <pay>
    <PayNode url="http://jqapi.pay.7fgame.com:1080/" sign="f7873bda-07f1-4644-8a02-b47315268635" bid="72" />
  </pay>
</configuration>