<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="RedisConnectionSearchKeys" value="192.168.60.6:8006"/>
    <add key="oldKey" value="Redis_PickDoBatchInfowangshaofeng32015012900100lc"/>
    <add key="ErrorLogFolder" value="D:\BenLai\Logs\"/>
    <add key="MaxLogFileSize" value="1000"/>
    <add key="LogLevel" value="info"/>
  </appSettings>
</configuration>
