<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="IsWriteSqlInfoLog" value="true" />
      <add key="IsWriteSqlErrorLog" value="true" />
      <add key="IsWriteStackTraceInfoLog" value="true" />
      <add key="IsCheckSqlCmdVaild" value="false" />

      <add key="ErrorLogFolder" value="D:\Temp\TestWinService\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
