<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benlai.Common" version="1.2.7001.0" targetFramework="net452" />
  <package id="Benlai.Common.Config" version="1.2.7001.0" targetFramework="net452" />
  <package id="Benlai.Common.Json" version="1.2.7001.0" targetFramework="net452" />
  <package id="Benlai.Common.Log" version="1.2.7001.0" targetFramework="net452" />
  <package id="Benlai.Common.Net" version="1.2.7001.0" targetFramework="net452" />
  <package id="Benlai.Performance.Cat" version="1.1.7001" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" requireReinstallation="true" />
</packages>