<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILucenceService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" useDefaultWebProxy="true">
          <readerQuotas maxStringContentLength="6553600" />
        </binding>
        <binding name="NciicServicesHttpBinding">
          <security mode="Transport" />
        </binding>
        <binding name="InvoiceWebServiceSoap" />
        <binding name="BasicHttpBinding_IWmsService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="httpconf">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IInventoryService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      
      <endpoint address="net.tcp://192.168.60.210:688/InventoryService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInventoryService" contract="InventoryWcfService.IInventoryService" name="NetTcpBinding_IInventoryService" />
      
    </client>
  </system.serviceModel>
</configuration>