<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benlai.Common" version="1.2.6021.0" targetFramework="net452" />
  <package id="Benlai.Common.Config" version="1.2.6000.0" targetFramework="net452" />
  <package id="Benlai.Common.Database" version="1.2.6001.0" targetFramework="net452" />
  <package id="Benlai.Common.Json" version="1.2.6000.0" targetFramework="net452" />
  <package id="Benlai.Common.Log" version="1.2.6000.0" targetFramework="net452" />
  <package id="Benlai.Common.Net" version="1.2.6000.0" targetFramework="net452" />
  <package id="Benlai.Common.WcfInterface" version="1.0.6.0" targetFramework="net452" />
  <package id="Benlai.Inventory.Model" version="1.0.2.0" targetFramework="net452" />
  <package id="Benlai.Performance.Cat" version="1.1.6009" targetFramework="net452" />
</packages>